@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

*{  
        margin: 0;
        padding: 0;
    }
body{
    background-color: rgb(255, 255, 255);
    }
    .headflex{position: relative;
      justify-content: space-between;
      display: flex;
      align-items: center;
      background-color: white;
      }
  .navigation{
      display: flex;

      justify-content: flex-start;
      background-color: white;
      align-items: center;
      padding: 40px;
      }
  .navigation2{
      display: flex;

      justify-content: flex-end;
      background-color: white;
      padding: 40px;
  }
  .textnav{
      font-family: Roboto ;
      font-weight: bold;
      font-size: 25px;
      color: rgb(100, 100, 100);
      margin: 0px 20px;
      text-decoration:none ;
  
      }
  .headlogo{
      margin-bottom: 10px;
      margin: 0px 7px;
      width: 150px;
  }
  .headicon{
  
      width: 60px;
      margin: 0px 10px;
  }
.mainimage{object-fit: cover;
    max-width: 100% ;
    max-height: 570px;}

.maintext{
    font-family: Roboto;
    font-weight: bolder;
    font-size: 50px;
    margin-top: 90px;
}

.mainflex{
    display: flex;
    justify-content: center;
}

.card {
    width: 400px;
    min-height: 350px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Размещаем элементы в колонку */
    border-radius: 4px;
    position: relative;
  }
  
  /* При наведении на карточку - меняем цвет тени */
  .card:hover {
    box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
  }
  
  .card__top {
    flex: 0 0 220px; /* Задаем высоту 220px, запрещаем расширение и сужение по высоте */
    position: relative;
    overflow: hidden; /* Скрываем, что выходит за пределы */
  }
  
  /* Контейнер для картинки */
  .card__image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .card__image > img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Встраиваем картинку в контейнер card__image */
    transition: 0.2s;
  }
  
  /* При наведении - увеличиваем картинку */
  .card__image:hover > img {
    transform: scale(1.1);
  }
  
  /* Размещаем скидку на товар относительно изображения */
  .card__label {
    padding: 4px 8px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: #ff0000;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    color: rgb(53, 53, 53);
  }
  
  .card__bottom {
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-height:100px;
  }
  
  .card__prices {
    display: flex;
    margin-bottom: 10px;
  }
  
  .card__price::after {
    content: "₽";
    margin-left: 4px;
    position: relative;
  }
  
  .card__price--discount {
    font-weight: 700;
    font-size: 19px;
    color: #181818;
    display: flex;
    flex-wrap: wrap-reverse;
  }
  

.card__title {
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #181818;
}
  
.card__title:hover {
    color: #fd0000;
}
  
  .card__add {
    display: block;
    width: 100%;
    font-weight: 400;
    font-size: 17px;
    color: #fd0000;
    padding: 10px;
    text-align: center;
    border: 1px solid #fd0000;
    border-radius: 4px;
    cursor: pointer;
    margin-top: auto;
    text-decoration: none;

  }
  
.card__add:hover {
    border: 1px solid #ff0000;
    background-color: #ff0000;
    color: #fff;
}

.content{
    margin: 100px 150px;
    display: flex;
    justify-content: center;
}

.card{
    margin: 0px 30px;
}


.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    font-family: Arial, sans-serif;
    justify-content: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    min-width: 200px;
    margin: 10px 20px;
    
}

.footer-section h3 {
    margin-bottom: 15px;
    font-size: 18px;
}


.footer-section a {
    color: #fff;
    text-decoration: none;
}


.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #444;
    font-size: 14px;
}

.filters{
    border-radius: 10px;
    width: 250px;
    height: 750px;
    display: block;
    float:left;
    margin: 100px 0;
    padding: 5px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);

}

.filters-fail{display: block;}
.price-input{
    float:left;
}
.input-text{
    width: 50px;
}
.single-goods {
    width: 280px;
    height: 530px;
    border: 1px solid ;
    float: left;
    text-align: center;
}

.filtext{font-family: Comfortaa;}

h2{ margin: 10px 1px;}

input{margin-left: 5px;
margin-top: 2px;}

#filterss{
    visibility: hidden;
    width: 250px;
    height: 500px;
    border: 1px solid ;
    float:  left;
    margin: 100px 0;
    padding: 5px;
}

.td{text-decoration:none ;}

.burger::before {
    top: 0;
    box-shadow: 0 11px 0 #000;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
  }
  .burger::after {
    bottom: 0;
  
  }
  
.menu{display: none;}

.menuu{display: none;}

  .menu-list {
    top: 0;
    left: 0;
    position: absolute;
    display: grid;
    gap: 12px;
    padding: 42px 0;
    margin: 0;
    background: orange;
    list-style-type: none;
    transform: translateX(-100%);
    transition: .3s;
    width: 200px;
  }
  .menu-item {
    display: block;
    padding: 8px;
    color: white;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
  }
  .menu-item:hover {
    background: rgba(255,255,255,.2)
  }
  .burger-checkbox:checked ~ .menu-list {
    transform: translateX(0);
  }

  .burger-checkbox {
    position: absolute;
    visibility: hidden;
  }
  .burger {
    margin: 15px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    display: none;
    position: relative;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
  }
  .burger::before,
  .burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: #000;
  }

  .maintext1 {
    background-color: #b10303;
    font-size: 24px;
    color: #ffffff;
    border-radius: 15px;
    display: none;
    font-family: play;
    align-items: center;
  }
  

@media(max-width:768px){
    .footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .footer-section {
    margin: 10px 0;
  }
  
  .footer-section h3 {
    font-size: 18px;
  }
  
  

.filters.fail{display: block;}

  .footer-section p, .footer-section ul {
    font-size: 14px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin: 5px 0;
  }
  
  .footer-section ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-bottom {
    margin-top: 20px;
    font-size: 12px;
  }

.navigation2{
    display: none;
    position: relative;
    justify-content: flex-end;
    background-color: white;
    padding: 40px;
}

.navigation{
    display: flex;
    position: relative;
    justify-content: flex-start;
    background-color: white;
    align-items: left;
    padding: 20px;
    }

    .headlogo, .headicon {
        height: 20px;
        width: auto;
        padding: 20px;
        padding-right: 0px;
      }

      .navigation1{
  display: flex;
  position: relative;
  justify-content: flex-start;
  background-color: white;
  align-items: center;
  padding: 40px;}


  .headflex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navigation2{display: none;
    align-items: center;
  }
  
  .navigation {
    display: flex;
    align-items: center;
  }
  
  .textnav {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
  }
  
  .headlogo, .headicon {
    height: 20px;
    width: auto;
  }
  
  .mainimage {
    width: 100%;
    height: auto;
  }
  
  .mainflex {
    text-align: center;
    margin: 20px 20px;
  justify-content: space-between; 
align-items: center; }


  .maintext1 {
    background-color: #b10303;
    font-size: 24px;
    color: #ffffff;
    border-radius: 15px;
    display: flex;
    font-family: play;
    align-items: center;
    padding: 10px;
  }

  .maintext {
    font-size: 24px;
    color: #333;
  }
  
  .contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1px 0;
  }
  
  .card {
    width: 45%;
    margin: 10px 0;
  }
  
  .card__image img {
    width: 100%;
    height: auto;
  }
  
  .card__title {
    text-align: center;
    font-size: 18px;
    color: #333;
  }
  
  .icons {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
  }
  
  .imgicon3 {
    text-align: center;
  }
  
  .imgicon, .imgicon4 {
    width: 30px;
    height: 30px;
  }
  
  .textt {
    font-size: 14px;
    color: #333;
  }

  .menu{display: flex;}

  .menuu{display: flex;
  align-items: center;}
  
  .burger-checkbox {
    position: absolute;
  }
  .burger {
    position: relative;
    z-index: 101;
    cursor: pointer;
    display: flex;
    position: relative;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
   
  }
  
  .menu-list {
    top: 11px;
    left: 0;
    position: absolute;
    display: grid;
    gap: 12px;
    padding: 42px 0;
    margin: 0;
    background: rgb(56, 56, 56);
    list-style-type: none;
    transform: translateX(-100%);
    transition: .3s;
    width: 200px;
    z-index: 100;
  }
  .menu-item {
    display: block;
    padding: 8px;
    color: white;
    font-size: 18px;
    text-align: center;
    text-decoration: none;

  }
  .menu-item:hover {
    background: rgba(255,255,255,.2)
  }
  .burger-checkbox:checked ~ .menu-list {
    transform: translateX(0);
  }
  .textnav{display: none;}
  .headicon{display: none;}
  .card__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 10px;
  }
  
  .card {
    width: 250px;
    min-height: 200px;
    display: flex
  ;
    flex-direction: column;
    border-radius: 4px;
  }
  
  
  .navigation1{
    display: flex;
    position: relative;
    justify-content: flex-start;
    background-color: white;
    align-items: center;
    padding: 20px;
    padding-right: 0px;
    }
  
    .maintext {
      font-family: Roboto;
      font-weight: bolder;
      font-size: 30px;
      margin-top: 10px;
  }
  
  .card__top {
    flex: 0 0 150px;
    position: relative;
    overflow: hidden;
  }
  
  .card__title {
    display: block;
    font-weight: 400;
    font-size: 80%;
    cursor: pointer;
    color: #181818;
    font-family: Comfortaa;
    text-decoration: none;
    text-align: center;
    margin: 5px 0px;
  }
  .navigation{
    display: flex;
    position: relative;
    justify-content: center;
    background-color: white;
    align-items: center;
    padding: 10px;
  
    }
  
  
    .icons{display: none;}
  
    .content{
        margin: 30px 10px;
        display: flex;
        justify-content: space-evenly;

    }
    
    .card__price--discount {
        font-weight: 700;
        font-size: 75%px;
        color: #181818;
        display: flex;
        flex-wrap: wrap-reverse;
      }

      .filters{
        border-radius: 10px;
        width: 320px;
        height: 500px;
        display: none;
        float:none;
        margin: 10px 0;
        padding: 5px;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    
    }

    .centr{display: flex;
    justify-content: center;}



    #filterss{
      width: 95%;
      height: 500px;
      border: 1px solid ;
      float:  none;
      margin: 30px 0;
      margin-left: 30px;
      padding: 5px;
      display: none;
  }

.mainimage{display: none;}

    #myDropdown{
      display: flex;
      justify-content: left;
    }

    .filtext{
      font-size: 17px;
      display: flex;
      justify-content: left;
    }


    .filt{display: flex;
    justify-content: space-between;
    align-items: center;
  padding: 0px 15px;}
  }

  @media (max-width: 500px) {
    .content {
        margin: 30px 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}
