@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

*{  
        margin: 0;
        padding: 0;
    }
body{
    background-color: rgb(255, 255, 255);
    }
    .headflex{
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: white;
      }
  .navigation{
      display: flex;
      position: relative;
      justify-content: flex-start;
      background-color: white;
      align-items: center;
      padding: 40px;
      }
  .navigation2{
      display: flex;
      position: relative;
      justify-content: flex-end;
      background-color: white;
      padding: 40px;
  }
  .textnav{
      font-family: Roboto ;
      font-weight: bold;
      font-size: 25px;
      color: rgb(100, 100, 100);
      margin: 0px 20px;
      text-decoration:none ;
  
      }
  .headlogo{
      margin-bottom: 10px;
      margin: 0px 7px;
      width: 150px;
  }
  .headicon{
  
      width: 60px;
      margin: 0px 10px;
  }
.mainimage{object-fit: cover;
    width: 100% ;
    height: 570px;}

.maintext{
    font-family: Roboto;
    font-weight: bolder;
    font-size: 50px;
    margin-top: 90px;
}

.mainflex{
    display: flex;
    justify-content: center;
}

.textnav {
  display: flex;
  font-family: Roboto;
  font-weight: bold;
  font-size: 25px;
  color: rgb(100, 100, 100);
  margin: 0px 20px;
  text-decoration: none;
}

.card {
    width: 800px;
    min-height: 250px;
    border-radius: 15px;
    display: flex;
    flex-direction: column; /* Размещаем элементы в колонку */
    border-radius: 15px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);

  }
  
  /* При наведении на карточку - меняем цвет тени */

  
  .card__top {
    flex: 0 0 400px; /* Задаем высоту 220px, запрещаем расширение и сужение по высоте */
    position: relative;
    overflow: hidden;
 /* Скрываем, что выходит за пределы */
  }
  
  /* Контейнер для картинки */
  .card__image {
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .card__image > img {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Встраиваем картинку в контейнер card__image */
    transition: 0.2s;
  }
  
  /* При наведении - увеличиваем картинку */
  .card__image:hover > img {
    transform: scale(1.1);
  }
  
  /* Размещаем скидку на товар относительно изображения */


.card__title {
    display: block;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
    color: #181818;
    font-family: Comfortaa;
    text-decoration: none;
    text-align: center;
    margin: 15px 0px;
}
  
.card__title:hover {
    color: #fd0000;
}


.content{
    margin: 100px 0px;
    display: flex;
}


.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  font-family: Arial, sans-serif;
  justify-content: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section {
  min-width: 200px;
  margin: 10px 20px;
  
}

.footer-section h3 {
  margin-bottom: 15px;
  font-size: 18px;
}


.footer-section a {
  color: #fff;
  text-decoration: none;
}


.footer-bottom {
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #444;
  font-size: 14px;
}

.contents{
  
  margin: 40px 50px;
  display: flex;
  justify-content: center;
}



.icons{display: flex;
  justify-content: space-around;
margin: 50px 0px;}
  
  
.imgicon{
  margin-left: 10px;
    width: 100px;
    height: 100px;

}

.imgicon3{
  display: flex;
  flex-direction: column;
  cursor: pointer;
}


.textt{
  margin-top: 10px;
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;
  color: #181818;
  font-family: Comfortaa;
  text-decoration: none;
  text-align: center
  ;}

  .textt:hover{
    margin-top: 10px;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
    color: #b40000;
    font-family: Comfortaa;
    text-decoration: none;
    text-align: center
    ;}
  


.texttt{
  display: flex;
  justify-content: space-evenly;
}


.imgicon4{
  margin-left: 20px;
    width: 100px;
    height: 100px;

}

.menu{display: none;}

.burger-checkbox {
  position: absolute;
  visibility: hidden;
}
.burger {
  position: relative;
  z-index: 1;
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
}
.burger::before,
.burger::after {
  content: '';
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #000;
}

.navigation1{
  display: flex;
  position: relative;
  justify-content: flex-start;
  background-color: white;
  align-items: center;
  padding: 40px;
  }

.burger::before {
  top: 0;
  box-shadow: 0 11px 0 #000;
  transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}
.burger::after {
  bottom: 0;

}

.menu-list {
  top: 0;
  left: 0;
  position: absolute;
  display: grid;
  gap: 12px;
  padding: 42px 0;
  margin: 0;
  background: orange;
  list-style-type: none;
  transform: translateX(-100%);
  transition: .3s;
  width: 200px;
}
.menu-item {
  display: block;
  padding: 8px;
  color: white;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}
.menu-item:hover {
  background: rgba(255,255,255,.2)
}
.burger-checkbox:checked ~ .menu-list {
  transform: translateX(0);
}

.bodyg {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.containers {
  position: relative;
  width: 100%;
  height: 200px;
background-repeat: no-repeat;
margin-bottom: 30px;
}

.imageg{ display: flex;
  justify-content: space-evenly;
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  animation: slideIn 2s forwards;
  
}

.image1 {
  background-image: url('../assets/images/logo2.png');
  left: -100%;
  animation-delay: slideIn 0.5s forwards ;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}


@keyframes slideIn {
  0% {
    left: -100%;
  }


90%{left: 0;
opacity: 1;}

100%{left: 0;
  opacity: 0;}}


@media(max-width:768px){
  /* Основные стили */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  padding: 10px;
  background-color: #f8f9fa;
}

.headflex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation2{display: none;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.textnav {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.headlogo, .headicon {
  height: 20px;
  width: auto;
}

.mainimage {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.mainflex {
  text-align: center;
  margin: 10px 0;
}

.mainimage{display: none;}

.maintext {
  font-size: 24px;
  color: #333;
}

.contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1px 0;
}

.card {
  width: 45%;
  margin: 10px 0;
}

.card__image img {
  width: 100%;
  height: auto;
}

.card__title {
  text-align: center;
  font-size: 18px;
  color: #333;
}

.icons {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.imgicon3 {
  text-align: center;
}

.imgicon, .imgicon4 {
  width: 30px;
  height: 30px;
}

.textt {
  font-size: 14px;
  color: #333;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  margin: 10px 0;
}

.footer-section h3 {
  font-size: 18px;
}

.footer-section p, .footer-section ul {
  font-size: 14px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 12px;
}

.menu{display: flex;}

.burger-checkbox {
  position: absolute;
}
.burger {
  position: relative;
  z-index: 101;
  cursor: pointer;
  display: flex;
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
 
}

.menu-list {
  top: 11px;
  left: 0;
  position: absolute;
  display: grid;
  gap: 12px;
  padding: 42px 0;
  margin: 0;
  background: rgb(56, 56, 56);
  list-style-type: none;
  transform: translateX(-100%);
  transition: .3s;
  width: 200px;
  z-index: 100;
}
.menu-item {
  display: block;
  padding: 8px;
  color: white;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}
.menu-item:hover {
  background: rgba(255,255,255,.2)
}
.burger-checkbox:checked ~ .menu-list {
  transform: translateX(0);
}
.textnav{display: none;}
.headicon{display: none;}
.card__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card {
  width: 250px;
  min-height: 200px;
  display: flex
;
  flex-direction: column;
  border-radius: 4px;
}


.navigation1{
  display: flex;
  position: relative;
  justify-content: flex-start;
  background-color: white;
  align-items: center;
  padding: 20px;
  padding-right: 0px;
  }

  .maintext {
    font-family: Roboto;
    font-weight: bolder;
    font-size: 30px;
    margin-top: 10px;
}

.card__top {
  flex: 0 0 150px;
  position: relative;
  overflow: hidden;
}

.card__title {
  display: block;
  font-weight: 400;
  font-size: 19px;
  cursor: pointer;
  color: #181818;
  font-family: Comfortaa;
  text-decoration: none;
  text-align: center;
  margin: 5px 0px;
}
.navigation{
  display: flex;
  position: relative;
  justify-content: center;
  background-color: white;
  align-items: center;
  padding: 10px;

  }


  .icons{display: none;}


  .imageg{ display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    animation: slideIn 2s forwards;
    object-fit: contain;
  }


  
  .image1 {
    background-image: url('../assets/images/logo3.png');
    left: -100%;
    animation-delay: slideIn 2s forwards;
    animation-iteration-count: infinite;
  }
}